._hcont{
    margin-top: 50px;
}

._homtbbg{
    background-color: #ddd;
}

._homjoin{
    background-color: #257ac2;
    font-weight: 500;
    margin-right: 9px;
    color: white;
}

._homjoin:hover {
    background-color: #257ac2;
    color: white;
}

._homdlt{
    background-color: #dc3545;
    color: white;
}

._homdlt:hover {
    background-color: #dc3545;
    color: white;
}

._hombtn{
    background-color: #257ac2;
    outline: none;
    color: white;
}

._hombtn:hover{
    background-color: #257ac2;
    color: white;
}

._homfbtn{
    width: 30px;
    height: 40px;
    margin: 4px;
}

._fxdbtn{
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 40px;
}

._tddisp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

._hominp{
    border: none;
    width: 100px;
}

._hompeye{
    color: #257ac2 !important;
}