._slmcont{
    width: 100% !important;
    padding-top: 130px !important;
}

._msinlogc{
    width: 450px !important;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 25px;
    margin: auto !important;
}